<%= form_for(@epreuve) do |f| %>
  <% if @epreuve.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@epreuve.errors.count, "error") %> prohibited this epreuve from being saved:</h2>

      <ul>
      <% @epreuve.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p><label for="epreuve_titre">Nom de l'épreuve</label>
    <%= text_field 'epreuve', 'titre' %></p>
    <p><label for="epreuve_date">Date de l'épreuve</label>
    <%= date_field 'epreuve', 'date' %></p>
    <%= hidden_field 'epreuve', 'matiere_id' %>
    <%= f.submit %>
  </div>
<% end %>
