<p id="notice"><%= notice %></p>

<h1>Choisissez votre épreuve</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>Matière</td>
        <td>Titre</td>
        <td>Date</td>
      </tr>
    <% if @epreuves.count == 0 %>
      <tr>Aucune épreuve pour cette matière</tr>
    <% else %>
      <% @epreuves.each do |epreuve| %>
        <tr>
          <td><%= epreuve.matiere.titre %></td>
          <td><%= epreuve.titre %></td>
          <td><%= epreuve.date %></td>
          <td><%= link_to 'Show', epreuve %></td>
          <td><%= link_to 'Edit', edit_epreuve_path(epreuve) %></td>
          <td><%= link_to 'Destroy', epreuve, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New epreuve', new_epreuve_path %>
