<p id="notice"><%= notice %></p>

<h1>Listes des matières</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matieres.each do |matiere| %>
      <tr>
        <td><h2><%= matiere.titre %></h2></td>
      </tr>
      <% if @user.type != 'Etudiant' %>
        <tr>
          <td><%= link_to 'Voir', matiere %> | </td>
          <td><%= link_to 'Supprimer', matiere, method: :delete, data: { confirm: 'Etes vous sûr ?' } %></td>
        </tr>
      <% else %>
        <tr>
          <td><%= link_to 'Voir les épreuves', matiere %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle matière', new_matiere_path %>
