<p id="notice"><%= notice %></p>

<h1>Listes des matières</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
      <tr class="header">
        <td>Titre</td>
        <td>Description</td>
        <td>Début</td>
        <td>Fin</td>
      </tr>
    <% @matieres.each do |matiere| %>
      
      <tr class="tab">
        <td class="majuscule"><FONT size="5pt"><strong><%= matiere.titre %></strong></FONT></td>
        <td><%= matiere.description%></td>
        <td><%= matiere.debut %></td>
        <td><%= matiere.fin%></td>
      </tr>
    
      <% if @user.type != 'Etudiant' %>
        <tr class="lien">
          <td><%= link_to 'Voir', matiere %> | </td>
          <td><%= link_to 'Supprimer', matiere, method: :delete, data: { confirm: 'Etes vous sûr ?' } %></td>
        </tr>
      <% else %>
        <tr>
          <td><%= link_to 'Voir les épreuves', matiere %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle matière', new_matiere_path %>
