<p id="notice"><%= notice %></p>
<table class="tab">
	<tr>
		<td><FONT size="20pt"><strong><%= @matiere.titre %></strong></FONT></td>
	</tr>
	<tr>
		<td><%= @matiere.description %></td>
	</tr>
</table>
<%= link_to 'Inviter un étudiant', new_utilisateur_path(:type => 'Etudiant') %> |
<%= link_to 'Modifier', edit_matiere_path(@matiere) %> |
<%= link_to 'Retour', matieres_path %>
