<p id="notice"><%= notice %></p>
<p><%= @matiere.titre %></p>
<p><%= @matiere.description %></p>
<%= link_to 'Ajouter un étudiant', add_etu_path %> |
<%= link_to 'Modifier', edit_matiere_path(@matiere) %> |
<%= link_to 'Retour', matieres_path %>
